body {
    margin: 0;
    padding: 0;    
    background-color: #ECEBDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #131010;
}

.size {
    width: 20%;
    padding: 8px;
    border: 2px;
    border-radius: 5px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
}

.gridRow {
    display: flex;
}

.gridCol {
    background-color: #FFF0DC;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}

.reset {
    border: none;
    color: white;
    background-color: #131010;
    border-radius: 5px;
    padding: 5px;
    width: 4%;
    display: flex;
    justify-content: center;
}

.reset {
    transition: transform 0.3s ease;
}

.reset:hover {
    transform: scale(1.2);
}